hr{
    border:1px solid black;
    margin: 0 auto;
}
.txt-center{
    text-align: center;
}
aside a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin: 12px auto;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    color:black;
    transition: all 0.5s ease;
}
aside a:hover{
    background-color: #5DB996;
}
aside a.active{
    background-color: #5DB996;
}
nav{
    margin:30px 0;
}
li{
    list-style: none;
}
.tag-item{
    margin: 20px 0;
}
.tag-btn{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap:10px;
    transition: all 0.5s ease;
}
.tag-btn:hover{
    cursor: pointer;
    font-weight: bold;
    transform: translateX(10px) scale(1.1);
}