.grid-container{
    height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header header header header header"
                         "sidebar notes-list main-content main-content main-content main-content"
                         "sidebar notes-list main-content main-content main-content main-content"
                         "sidebar notes-list main-content main-content main-content main-content"
                         "sidebar notes-list main-content main-content main-content main-content"

    ;
    grid-template-columns: 260px 250px 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px 1fr 1fr 1fr 1fr;
}
.sidebar{
    grid-area: sidebar;
    background-color: #C7B484;
    border-right: 1px solid black;
}
.notes-list{
    grid-area: notes-list;
    background-color: aqua;
}
.header{
    grid-area: header;
    background-color: #C7B484;
}
.main-content{
    grid-area: main-content;
    background-color: #a39c89;
}
.footer{
    grid-area:footer;
    background-color: #C7B484;
    display: none;
}
.note-list{
    grid-area: NoteList;
}
.note-details{
    grid-area: NoteDetails;
}
@media (max-width:768px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "main-content"
                             "footer"
                             ;
        grid-auto-rows: 100px 1fr 100px;

    }
    .footer{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .notes-list{
        display: none !important;
    }
}